<!DOCTYPE html>
<html lang="en">
<style>
    .nonewline{
        display:inline;
        color:black;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>DogsHead'Home</title>
</head>
<body>
    <h1> Welcome to DogsHead'home!</h1>
    <div>There some useful webs:</div>
    <a href="https://www.baidu.com/" target="_blank">百度</a>
    <br />
    <a href="https://code.ziqiangxuetang.com/django/django-import-data.html" target="_blank">自强学堂</a>
    <div class="nonewline">(It helps a lot)</div>
    <br />
    <a href="http://www.w3school.com.cn/html/index.asp" target="_blank">Wcschool</a>
    <div class="nonewline">(It's a little messy but it won't take you much time)</div>
    <br />
    <a href="https://cloud.baidu.com/index.html?track=cp:npinzhuan|pf:pc|pp:left|ci:|pu:495" target="_blank">百度云</a>
    <div class="nonewline">89rmb a month</div>
    <br />
</body>
</html>